$gray-main: #f6f6f8;
$blue-main: #096dd9;
$success-green: #52c41a;
$error-red: #c70000;
$off-white: #fafcfe;
$light-gray: #e8e8e8;

$font-color-dark: #0a0a16;
$font-color-light: #505d68;
$font-color-error: #c70000;
$font-placeholder: #595959;
$font-color-gray: #717171;
